.list-module{
	overflow-y: auto;
	overflow-x: scroll;
}

.judul {
	color: black;
	font-size: 20px;
	text-align: justify;
	padding-bottom: 10px;
	padding-top: 10px;
}

.materi{
	color: black;
	font-size: 13px;
}

p {
    text-align: justify;
    color: black;
}

@media (min-width: 992px) { 
.judul{
	color: black;
	font-size: 30px;
	text-align: justify;
	padding-bottom: 15px;
	}
.materi{
	color: black;
	font-size: 15px;
	}


}	